
.login_main_div{
    background-color: rgb(0, 0, 0);
    -webkit-box-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;
    position: relative;
    background-position: top;
    background-size: cover;
    background-image: url(https://occ.a.nflxso.net/dnm/api/v6/iMyKkw5SVrkCXbCfSBEb_Pjar5Y/AAAAQBTxE26zgLJoqZnmxUCfZtVJ2HbJUsVonZ_9Uo-pn68zarPK.png);
}
/* .login_main_div::before{
    content: "";
    position: absolute;
    inset: 0px;
    background-position: top;
    background-size: cover;
    background-image: url(https://occ.a.nflxso.net/dnm/api/v6/iMyKkw5SVrkCXbCfSBEb_Pjar5Y/AAAAQBTxE26zgLJoqZnmxUCfZtVJ2HbJUsVonZ_9Uo-pn68zarPK.png);
    opacity: 1;
} */
.login_form_outter_div{
    width: 100%;
    max-width: 480px;
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column  ;
}
.login_heading{
    font-size: 2rem;
    width:100%;
    color: var(--text-white);
    font-weight: var(--weight-bold);
}
.login_sub_heading{
    margin-block: 0px;
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.7);
    font-family: unset;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: start;
    user-select: text;
    overflow-wrap: normal;
}
.login_form_outter_div form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.login_form_outter_div form input{
    caret-color: rgb(255, 255, 255);
    height: 3.5rem;
    width: 100%;
    direction: ltr;
    padding: 1rem 0.5rem 1rem 2rem;
    background-color: transparent;
    border-color: #6A676C;
    border-width: 1px;
    border-radius: 5px;
    color: #ffffffb3;
    margin-top: 1rem;
}
.login_error{
    color: #eb3942;
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    margin-top: 0.4rem;
    width: 100%;
}

.submit_button{
    background-color: #e50914;
    width:100%;
    font-size: 1.125rem;
    font-weight: 500;
    min-height: 3rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}
.submit_button:hover{
    transition-timing-function: cubic-bezier(0.32, 0.94, 0.6, 1);
    background: rgb(193, 17, 25);
}
.login_bottom_text{
    margin: 0px;
    margin-top: 3rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}

.signup_link{
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
}

.signup_link:hover{
    color: #fff;
}

/* 1. Small phones only (0px to 430px) */
@media only screen and (max-width: 411px) {
    /* Chhote phones ke liye - iPhone SE, etc */
    body {
        font-size: 14px;
    }
}

/* 2. Big phones (431px to 768px) */
@media only screen and (min-width: 412px) and (max-width: 768px) {
    /* Bade phones ke liye - S24 Ultra, iPhone Pro Max, etc */
    body {
        font-size: 15px;
    }
}

/* 3. Tablets (769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Tablets ke liye - iPad, etc */
    body {
        font-size: 16px;
    }
}

/* 4. Desktop/Laptop (1025px and above) */
@media only screen and (min-width: 1025px) {
    /* Desktop aur laptops ke liye */
    body {
        font-size: 18px;
    }
}

/* 5. Large screens (1440px and above) */
@media only screen and (min-width: 1440px) {
    /* Badi screens - 2K, 4K monitors */
    body {
        font-size: 20px;
    }
}